.image-gallery-image {
    cursor: default !important;
    max-height: 650px;
  }

.image-gallery-slide {
    width: 100%;
    left: 0;
    top: 0;
    max-height: 650px;
}


.planVisit {
    position: absolute;
    top: 90%;
    left: 50%;
    transform: translate(-50%, -50%);
    text-shadow: 1px 1px 2px black;
    color: #ffffff;
    font-size: 30px;
    background-color: #338000;
    padding: 10px 30px;
    border-radius: 25px;
    
}

.wildFun {
    position: absolute; 
    top: 20%;
    left: 50%; 
    transform: translate(-50%, -50%); 
    text-shadow: 5px 5px 5px black;
    color: yellow;
    font-size: 80px;
    font-family: "Architects Daughter";
}

.links {
    margin: 0 10;
}

.explore {
    color: rgb(46, 126, 231);
}