.kidsBackground {
    background-image: url('../pages/images/kidsJungle.jpg');
    background-color: antiquewhite;
    padding-bottom: 500px;
}

.kidsPage {
    text-align: center;
    font-family: 'Barriecito';
    font-size: 80px;
    color: rgb(236, 233, 34);
}

.discover {
    text-align: center;
    font-family: 'Barriecito';
    font-size: 50px;
}

.cardContainer{
    display: flex;
    gap: 20px;
    text-align: center;
    justify-content: space-around;
}

.animalImage {
    max-width: 100%;
    height: auto;
}

.card-text {
    text-decoration: none;
    color: rgb(255, 255, 255);
    font-family: 'Bagel Fat One';
}

.card-body {
    background-color: rgb(255, 255, 255);
}

.kidsButton {
    background-color: #338000;
    border-radius: 25px;
}